<div>
	<div>		
		<img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
		<p id="profile-name" ></p>
		<form>
			<span id="reauth-email" ></span>
			<label for="inputEmail" >Correo electrónico</label>
			<input type="email" id="inputEmail" required autofocus>
			<label for="inputPassword" >Contraseña</label>
			<input type="password" id="inputPassword" required>
			<div id="remember" class="checkbox">
				<label>
					<input type="checkbox" value="remember-me"> Recordar sesión
				</label>
			</div>
			<button type="submit">Iniciar sesión</button>
		</form>
		<a href="#">
			¿Olvidó su contraseña?
		</a>
	</div>
</div>